<ion-view view-title="Pharmacy" class='ion'>
<ion-nav-bar class="bar-balanced" style='display:none'>
	<ion-nav-back-button></ion-nav-back-button>
</ion-nav-bar>
<ion-content  class=''>
	<div class='item-avatar'>
		<img src="img/logo.png" style='max-width:120px; max-height:120px; margin-top: 35%; margin-left: 27%;'>
	</div>
	<div class=" row">
	  <div class="col">
		<button menu-toggle class="button button-balanced" style=' margin-top: 75%; margin-left:33%; color:black ' >
		 CONTINUE
		</button>
	  </div>
	</div>
  </ion-content>
</ion-view>
